/*banner*/
#banner {
  position: relative;
  background: url(../images/common/bgBanner.jpg)no-repeat center top;
  background-size: cover;
  padding: 403px 0 271px;
  margin-top: -109px;
  .row{max-width: 1200px}
  h1{
    text-align: left;
    font-size: 60px;
    color: #FFFFFF;
    line-height: 120%;
    span{
      display: block;
    }
    &::before{
      content: "";
      width: 15px;
      height: 215px;
      background: #FFFFFF;
      position: absolute;
      top: 403px;
      left: 0;
    }
  }
  .container{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    p{
      position: relative;
      text-align: left;
      font-family: "Open Sans";
      font-size: 15px;
      color: #FFFFFF;
      line-height: 180%;
      max-width: 480px;
      margin: 0 auto 0 0;
      span{
        display: block;
      }
      &::after{
        content: '';
        width: 432px;
        height: 1px;
        background: rgba(255,255,255,0.3);
        position: absolute;
        top: 50%;
        transform: translateY(50%);
        left: 110%  ;
      }
    }
    a.bnrBtn{
      font-family: "Exo";
      font-size: 15px;
      font-weight: 400;
      color: #FFF;
      max-width: 200px;
      width: 100%;
      display: inline-block;
      padding: 14px 0;
      background: none;
      border: 1px solid #FFFFFF;
      transition: all 0.5s ease;
      &:hover {
        background: #ddd;
        border-color: #ddd;
        color: #ddd;
        color: #fff;
      }
    }
  }
}
