/*footer*/

#footer {
  background: #333333;
  padding: 10px 0;
  .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .footLeft{
    text-align: left;
    ul{
      padding: 0;
      margin: 0;
      li{
        display: inline-block;
        vertical-align: middle;
        a{
          font-size: 15px;
          color: #FFFFFF;
          margin-right: 40px;
        }
      }
    }
  }
  .footRight{
    text-align: right;
    p{
      margin: 0;
      color: #FFFFFF;
    }
  }
  .silver img {
    display: inline-block;
    vertical-align: middle;
    max-width: 50px;
  }
}
