/*header*/

#header {
  position: relative;
  background: none;
  padding: 29px 0 0;
  z-index: 9;
  .hdLeft{
    .hdLogo{
      max-width: 206px;
      width: 100%;
    }
  }
  .hdRight{
    nav {
      a#pull {
        display: none;
      }
      ul {
        margin: 0;
        padding: 0;
        li {
          display: inline-block;
          vertical-align: middle;
          padding: 29px 0;
          a {
            font-family: "Exo";
            font-weight: 400;
            font-size: 15px;
            color: #FFFFFF;
            padding: 0 30px;
          }
          &.active-menu a, a:hover {
            color: #fff;
          }
        }
      }
    }
  }
}
