/*--------------------------------Services------------------------------------*/
#services{
  position: relative;
  padding: 1px 0 314px;
  .row{
    max-width: 1509px;
  }
  p{
    font-family: "Open Sans";
    font-size:15px;
    color: #444444;
  }
  .container{
    margin-top: 40px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: top;
    dl{
      max-width: 284px;
      width: 19%;
      dt{
        img{
          max-width: 284px;
          width: 100%;
        }
      }
      dd{
        padding: 37px 0 0;
        margin: 0 auto;
        font-size: 18px;
        color: #525252;
        span{
          display: block;
        }
      }
    }
  }
  &::after{
    content: '';
    width: 15px;
    height: 215px;
    background: #666666;
    position: absolute;
    top: 25%;
    right: 0;
    z-index: -1
  }
}
