/*--------------------------------CONTACT------------------------------------*/
#contact{
  position: relative;
  padding: 79px 0 77px;
  z-index: 1;
  .row{max-width: 1024px}
  p{
    margin: 25px auto 50px;
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 15px;
    line-height: 180%;
    color: #444444;
    span{
      display: block;
    }
  }
  .container{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
    dl{
      max-width: 210px;
      width: 100%;
      dt{
        .email{background: url(../images/common/cnt-sprites.png)no-repeat 0 0; height: 50px; width: 55px;}
        .phone{background: url(../images/common/cnt-sprites.png)no-repeat -90px 0; height: 50px; width: 55px;}
        .location{background: url(../images/common/cnt-sprites.png)no-repeat -174px 0; height: 50px; width: 55px;}
      }
      dd{
        padding: 20px 0 0;
        margin: 0;
        font-size: 20px;
        color: #444444;
        .txtPhone{
          font-size: 30px
        }
      }
    }
  }
  &::after{
    content: '';
    width: 15px;
    height: 215px;
    background: #666666;
    position: absolute;
    top: 25%;
    right: 0;
    z-index: 1;
  }
}
