/*--------------------------------Welcome Section------------------------------------*/
#welcome{
  margin:-98px 0 -1px 0;
  padding: 1px 0;
  .row{max-width: 1200px}
  .container{
    padding: 63px 0 1px;
    position: relative;
    max-width: 1200px;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0 10px 40px -15px;
    z-index: 9;
    &::before{
      content: '';
      width: 230px;
      height: 15px;
      background: #666666;
      position: absolute;
      top: -15px;
      left: 50%;
      transform: translateX(-50%);
    }
    .wlcLeft{
      img{
        max-width: 372px;
        width: 100%;
        height: auto;
        margin-top: -25px;
        margin-bottom: -124px;
      }
    }
    .wlcRight{
      text-align: left;
      h3{
        font-size: 15px;
        color: #535353;
        line-height: 120%;
      }
      p{
        font-family: "Open Sans";
        font-size:15px;
        color: #444444;
        line-height: 180%;
        max-width: 624px;
        margin: 20px 0 30px;
      }
      a{
        &:nth-of-type(2){
          margin-left: 10px;
        }
      }
    }
  }
}
