/*--------------------------------Section 2------------------------------------*/
#section2{
  margin: -68px 0 0;
  padding: 240px 0 66px;
  position: relative;
  .row{
    max-width: 1200px;
  }
  img.counter{
    position: absolute;
    top: 0;
    right:0;
    max-width: 853px;
    width: 55%;
  }
  .sec2Left{
    width: 43%;
    position: relative;
    padding: 94px 0;
    text-align: left;
    h3{
      font-size: 20px;
      color: #535353;
      letter-spacing: 3px;
      line-height: 120%;
    }
    p.desc{
      font-family: "Open Sans";
      font-size: 15px;
      color: #444444;
      line-height: 180%;
      margin: 40px auto 8px;
      span{
        display: block;
        margin: 0 auto;
      }
    }
    p.sm{
      margin: 0 auto;
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-content: space-between;
      width: 48px;
      height: 382px;
      a.social{
        font-family: "socialico";
        font-size: 55px;
        color: #333333;
      }
    }
    &::before{
      content:"";
      width: 71%;
      height: 1px;
      background: #D6D6D6;
      position: absolute;
      top: 0;
      left: 0;
    }
    &::after{
      content:"";
      width: 100%;
      height: 1px;
      background: #D6D6D6;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
  &::before{
    content: '';
    width: 15px;
    height: 261px;
    background: #666666;
    position: absolute;
    top: 45%;
    left: 0;
  }
}
