/*--------------------------------Section 4------------------------------------*/
#section4{
  background: url(../images/common/bgSection4.jpg)no-repeat center top;
  background-size: cover;
  padding: 1px 0 96px;
  .row{max-width: 1200px}
  .why{
    position: relative;
    text-align: left;
    margin-top: -168px;
    padding: 59px 50px 54px 50px;
    background: #FFFFFF;
    box-shadow: 0 0 40px -10px;
    h3{
      font-size: 15px;
      color: #535353;
      line-height: 120%;
      letter-spacing: 4px;
    }
    &::before{
      content: '';
      width: 230px;
      height: 15px;
      background: #666666;
      position: absolute;
      top: -15px;
      left: 50%;
      transform: translateX(-50%);
    }
    p{
      background: url(../images/content/we.png)no-repeat left center;
      padding: 10px 0 10px 120px;
      font-size: 25px;
      margin-bottom: 80px;
      span{
        display: block;
        font-size: 15px;
        max-width: 440px;
        margin:20px 0;
      }
    }
    img.weImg{
      position: absolute;
      top: 75px;
      right: -79px;
    }
  }
  .gallery{
    padding: 64px 0 0;
    h2{
      text-align: left;
      color: #FFFFFF;
    }
    .container{
      margin: 40px 0 0;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      img{
        max-width: 379px;
        width: 100%;
        height: 100%;
      }
    }
  }
}
