/*--------------------------------Section 6------------------------------------*/
#section6{
  position: relative;
  background: url(../images/common/bgSection6.jpg)no-repeat center top;
  background-size: 100% 100%;
  padding: 10px 0 354px;
  .row{max-width: 100%}
  .s6Left{
    position: relative;
    text-align: left;
    img{
      position: absolute;
      left: 136px;
      top: -47px;
    }
  }
  .s6Right{
    position: relative;
    text-align: left;
    img{margin-left: 50px;}
    img.cabinet2{
      position: absolute;
      right: 0;
      bottom: -45px;
      max-width: 288px;
      width: 36%;
    }
  }
}
