@font-face { font-family: "socialico"; src: url("fonts/Socialico/Socialico.eot"); src: url("fonts/Socialico/Socialico.eot?#iefix") format("embedded-opentype"), url("fonts/Socialico/Socialico.woff2") format("woff2"), url("fonts/Socialico/Socialico.woff") format("woff"), url("fonts/Socialico/Socialico.ttf") format("truetype"), url("fonts/Socialico/Socialico.svg#lobster_1.4regular") format("svg"); }

@font-face { font-family: 'Exo'; src: url("fonts/Exo-Regular.woff2") format("woff2"), url("fonts/Exo-Regular.woff") format("woff"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'Open Sans'; src: url("fonts/OpenSans.woff2") format("woff2"), url("fonts/OpenSans.woff") format("woff"); font-weight: normal; font-style: normal; }

.suspension-contain { max-height: 980px; overflow: hidden; position: relative; }

html.suspended { background: rgba(0, 0, 0, 0.6); }

body { max-width: 100%; min-width: 1280px; margin: 0 auto; text-align: center; font-family: "Exo"; }

a { color: inherit; text-decoration: none; }

a:hover { text-decoration: none; color: inherit; }

h1, h2, h3, h4, h5 { padding: 0; margin: 0; }

.row { max-width: 1280px; margin: 0 auto; }

/*floats*/
.fl { float: left; }

.fr { float: right; }

/*grids*/
.col-1 { width: 8.33%; }

.col-2 { width: 16.66%; }

.col-3 { width: 25%; }

.col-4 { width: 33.33%; }

.col-5 { width: 41.66%; }

.col-6 { width: 50%; }

.col-7 { width: 58.33%; }

.col-8 { width: 66.66%; }

.col-9 { width: 75%; }

.col-10 { width: 83.33%; }

.col-11 { width: 91.66%; }

.col-12 { width: 100%; }

/*typography*/
.text-primary { color: #B11414; }

.text-bold { font-weight: 700; }

.text-uppercase { text-transform: uppercase; }

.text-center { text-align: center !important; }

.text-left { text-align: left; }

/*button*/
.btn { text-align: center; font-family: "Exo"; font-size: 15px; font-weight: 400; color: #FFF; display: inline-block; padding: 14px 0; max-width: 200px; width: 100%; background: #333333; border: 1px solid transparent; -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }

.btn:hover { background: #ddd; border-color: #ddd; color: #ddd; color: #000; }

/*clearings*/
.clear { clear: both; }

.clearfix { display: block; }

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; font-size: 0; }

/*cookie*/
.cc-animate.cc-revoke.cc-bottom { font-size: 14px; padding: 5px 10px; position: fixed; display: block !important; -webkit-transform: none !important; -ms-transform: none !important; transform: none !important; bottom: 0 !important; left: 20px !important; }

/*call to action*/
.destroy-on-load, .cta { display: none; }

/*contact form messages*/
form .messages p { display: none; font-family: Arial !important; font-weight: 400 !important; letter-spacing: 0 !important; font-size: 16px !important; }

form .loading { display: none; }

form .alert { padding: 15px; margin-bottom: 20px; border: 1px solid transparent; border-radius: 4px; }

form .alert-success { color: #3c763d; background-color: #dff0d8; border-color: #d6e9c6; }

form .alert-danger { color: #a94442; background-color: #f2dede; border-color: #ebccd1; }

form [type="submit"] { margin: 20px auto; }

/*contact form*/
.ctc-form { margin: 0 auto; text-align: center; }

.ctc-form input[type="text"] { font-family: Arial; font-size: 16px; color: #000; height: 45px; display: block; width: 100%; border: 1px solid #ddd; border-radius: 3px; padding: 5px 10px; -webkit-box-sizing: border-box; box-sizing: border-box; margin: 0 auto 8px; }

.ctc-form textarea { font-family: Arial; font-size: 16px; color: #000; height: 45px; display: block; width: 100%; border: 1px solid #ddd; border-radius: 3px; padding: 5px 10px; -webkit-box-sizing: border-box; box-sizing: border-box; margin: 0 auto 8px; height: 120px; padding-top: 10px; }

.ctc-form button { display: block; }

.ctc-form .recap { display: inline-block; }

.ctc-form .g-recaptcha div { margin: 0 auto 10px; }

.ctc-form .ctc-hide { display: none; }

/*gallery*/
#content .gallery-container { text-align: center; }

#content .gallery { list-style-type: none; margin: 0; padding: 0; }

#content .gallery li { display: inline-block; }

#content .thumbnail { background-color: #fff; border: 1px solid #ddd; border-radius: 4px; display: block; line-height: .42857; margin-bottom: 20px; padding: 4px; -webkit-transition: border 0.5s ease-in-out 0s; -o-transition: border 0.5s ease-in-out 0s; transition: border 0.5s ease-in-out 0s; }

#content .thumbnail:hover { -webkit-transform: scale(1.02); -ms-transform: scale(1.02); transform: scale(1.02); }

#content .page_navigation { display: inline-block; }

#content .page_link, #content .previous_link, #content .next_link, #content .first_link, #content .last_link, #content .ellipse { background-color: #fff; border: 1px solid #ddd; color: #0275d8; display: inline-block; line-height: 1.25; margin-left: -1px; padding: 0.5rem 0.75rem; position: relative; }

#content .page_navigation > a:hover { background-color: #eceeef; border-color: #ddd; color: #014c8c; text-decoration: none; }

.page_navigation > a.active_page { background-color: #eceeef; border-color: #ddd; color: #014c8c; text-decoration: none; }

h1 { font-size: 60px; font-weight: 400; color: #333333; line-height: 120%; }

h2 { font-size: 60px; font-weight: 400; color: #333333; line-height: 120%; }

/*header*/
#header { position: relative; background: none; padding: 29px 0 0; z-index: 9; }

#header .hdLeft .hdLogo { max-width: 206px; width: 100%; }

#header .hdRight nav a#pull { display: none; }

#header .hdRight nav ul { margin: 0; padding: 0; }

#header .hdRight nav ul li { display: inline-block; vertical-align: middle; padding: 29px 0; }

#header .hdRight nav ul li a { font-family: "Exo"; font-weight: 400; font-size: 15px; color: #FFFFFF; padding: 0 30px; }

#header .hdRight nav ul li.active-menu a, #header .hdRight nav ul li a:hover { color: #fff; }

/*banner*/
#banner { position: relative; background: url(../images/common/bgBanner.jpg) no-repeat center top; background-size: cover; padding: 403px 0 271px; margin-top: -109px; }

#banner .row { max-width: 1200px; }

#banner h1 { text-align: left; font-size: 60px; color: #FFFFFF; line-height: 120%; }

#banner h1 span { display: block; }

#banner h1::before { content: ""; width: 15px; height: 215px; background: #FFFFFF; position: absolute; top: 403px; left: 0; }

#banner .container { margin-top: 40px; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#banner .container p { position: relative; text-align: left; font-family: "Open Sans"; font-size: 15px; color: #FFFFFF; line-height: 180%; max-width: 480px; margin: 0 auto 0 0; }

#banner .container p span { display: block; }

#banner .container p::after { content: ''; width: 432px; height: 1px; background: rgba(255, 255, 255, 0.3); position: absolute; top: 50%; -webkit-transform: translateY(50%); -ms-transform: translateY(50%); transform: translateY(50%); left: 110%; }

#banner .container a.bnrBtn { font-family: "Exo"; font-size: 15px; font-weight: 400; color: #FFF; max-width: 200px; width: 100%; display: inline-block; padding: 14px 0; background: none; border: 1px solid #FFFFFF; -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }

#banner .container a.bnrBtn:hover { background: #ddd; border-color: #ddd; color: #ddd; color: #fff; }

/*--------------------------------Welcome Section------------------------------------*/
#welcome { margin: -98px 0 -1px 0; padding: 1px 0; }

#welcome .row { max-width: 1200px; }

#welcome .container { padding: 63px 0 1px; position: relative; max-width: 1200px; width: 100%; background: #FFFFFF; -webkit-box-shadow: 0 10px 40px -15px; box-shadow: 0 10px 40px -15px; z-index: 9; }

#welcome .container::before { content: ''; width: 230px; height: 15px; background: #666666; position: absolute; top: -15px; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); }

#welcome .container .wlcLeft img { max-width: 372px; width: 100%; height: auto; margin-top: -25px; margin-bottom: -124px; }

#welcome .container .wlcRight { text-align: left; }

#welcome .container .wlcRight h3 { font-size: 15px; color: #535353; line-height: 120%; }

#welcome .container .wlcRight p { font-family: "Open Sans"; font-size: 15px; color: #444444; line-height: 180%; max-width: 624px; margin: 20px 0 30px; }

#welcome .container .wlcRight a:nth-of-type(2) { margin-left: 10px; }

/*--------------------------------Section 2------------------------------------*/
#section2 { margin: -68px 0 0; padding: 240px 0 66px; position: relative; }

#section2 .row { max-width: 1200px; }

#section2 img.counter { position: absolute; top: 0; right: 0; max-width: 853px; width: 55%; }

#section2 .sec2Left { width: 43%; position: relative; padding: 94px 0; text-align: left; }

#section2 .sec2Left h3 { font-size: 20px; color: #535353; letter-spacing: 3px; line-height: 120%; }

#section2 .sec2Left p.desc { font-family: "Open Sans"; font-size: 15px; color: #444444; line-height: 180%; margin: 40px auto 8px; }

#section2 .sec2Left p.desc span { display: block; margin: 0 auto; }

#section2 .sec2Left p.sm { margin: 0 auto; position: absolute; top: 0; right: 0; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-line-pack: justify; align-content: space-between; width: 48px; height: 382px; }

#section2 .sec2Left p.sm a.social { font-family: "socialico"; font-size: 55px; color: #333333; }

#section2 .sec2Left::before { content: ""; width: 71%; height: 1px; background: #D6D6D6; position: absolute; top: 0; left: 0; }

#section2 .sec2Left::after { content: ""; width: 100%; height: 1px; background: #D6D6D6; position: absolute; bottom: 0; left: 0; }

#section2::before { content: ''; width: 15px; height: 261px; background: #666666; position: absolute; top: 45%; left: 0; }

/*--------------------------------Services------------------------------------*/
#services { position: relative; padding: 1px 0 314px; }

#services .row { max-width: 1509px; }

#services p { font-family: "Open Sans"; font-size: 15px; color: #444444; }

#services .container { margin-top: 40px; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: nowrap; flex-wrap: nowrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: top; -ms-flex-align: top; align-items: top; }

#services .container dl { max-width: 284px; width: 19%; }

#services .container dl dt img { max-width: 284px; width: 100%; }

#services .container dl dd { padding: 37px 0 0; margin: 0 auto; font-size: 18px; color: #525252; }

#services .container dl dd span { display: block; }

#services::after { content: ''; width: 15px; height: 215px; background: #666666; position: absolute; top: 25%; right: 0; z-index: -1; }

/*--------------------------------Section 4------------------------------------*/
#section4 { background: url(../images/common/bgSection4.jpg) no-repeat center top; background-size: cover; padding: 1px 0 96px; }

#section4 .row { max-width: 1200px; }

#section4 .why { position: relative; text-align: left; margin-top: -168px; padding: 59px 50px 54px 50px; background: #FFFFFF; -webkit-box-shadow: 0 0 40px -10px; box-shadow: 0 0 40px -10px; }

#section4 .why h3 { font-size: 15px; color: #535353; line-height: 120%; letter-spacing: 4px; }

#section4 .why::before { content: ''; width: 230px; height: 15px; background: #666666; position: absolute; top: -15px; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); }

#section4 .why p { background: url(../images/content/we.png) no-repeat left center; padding: 10px 0 10px 120px; font-size: 25px; margin-bottom: 80px; }

#section4 .why p span { display: block; font-size: 15px; max-width: 440px; margin: 20px 0; }

#section4 .why img.weImg { position: absolute; top: 75px; right: -79px; }

#section4 .gallery { padding: 64px 0 0; }

#section4 .gallery h2 { text-align: left; color: #FFFFFF; }

#section4 .gallery .container { margin: 40px 0 0; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: nowrap; flex-wrap: nowrap; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#section4 .gallery .container img { max-width: 379px; width: 100%; height: 100%; }

/*--------------------------------CONTACT------------------------------------*/
#contact { position: relative; padding: 79px 0 77px; z-index: 1; }

#contact .row { max-width: 1024px; }

#contact p { margin: 25px auto 50px; font-family: "Open Sans"; font-weight: 400; font-size: 15px; line-height: 180%; color: #444444; }

#contact p span { display: block; }

#contact .container { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#contact .container dl { max-width: 210px; width: 100%; }

#contact .container dl dt .email { background: url(../images/common/cnt-sprites.png) no-repeat 0 0; height: 50px; width: 55px; }

#contact .container dl dt .phone { background: url(../images/common/cnt-sprites.png) no-repeat -90px 0; height: 50px; width: 55px; }

#contact .container dl dt .location { background: url(../images/common/cnt-sprites.png) no-repeat -174px 0; height: 50px; width: 55px; }

#contact .container dl dd { padding: 20px 0 0; margin: 0; font-size: 20px; color: #444444; }

#contact .container dl dd .txtPhone { font-size: 30px; }

#contact::after { content: ''; width: 15px; height: 215px; background: #666666; position: absolute; top: 25%; right: 0; z-index: 1; }

/*--------------------------------Section 6------------------------------------*/
#section6 { position: relative; background: url(../images/common/bgSection6.jpg) no-repeat center top; background-size: 100% 100%; padding: 10px 0 354px; }

#section6 .row { max-width: 100%; }

#section6 .s6Left { position: relative; text-align: left; }

#section6 .s6Left img { position: absolute; left: 136px; top: -47px; }

#section6 .s6Right { position: relative; text-align: left; }

#section6 .s6Right img { margin-left: 50px; }

#section6 .s6Right img.cabinet2 { position: absolute; right: 0; bottom: -45px; max-width: 288px; width: 36%; }

/*footer*/
#footer { background: #333333; padding: 10px 0; }

#footer .row { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#footer .footLeft { text-align: left; }

#footer .footLeft ul { padding: 0; margin: 0; }

#footer .footLeft ul li { display: inline-block; vertical-align: middle; }

#footer .footLeft ul li a { font-size: 15px; color: #FFFFFF; margin-right: 40px; }

#footer .footRight { text-align: right; }

#footer .footRight p { margin: 0; color: #FFFFFF; }

#footer .silver img { display: inline-block; vertical-align: middle; max-width: 50px; }

/*inner pages*/
.inner #content { min-height: 400px; padding: 40px 0; }

/*privacy policy*/
.inPrivacyBox { max-width: 850px; margin: 0 auto; }

.inPrivacyBox p { text-align: justify !important; }

/** Responsive
-------------------------------------------------------*/
@media screen and (max-width: 1440px) { #section6 .s6Right img.cabinet2 { width: 28%; } }

/*@media screen and (max-width: 1024px){
	body {min-width: 320px}
	.row {width: 95%}
}*/
/*@media screen and (max-width: 800px){
  [class*="col-"] {
    width: 100%;
  }
	#header {padding: 0}
	#header .row {width: 100%}
	#header nav {display:block; height: auto; }
  	#header nav ul { width: 100%; display: none; height: auto;border-bottom:5px solid #000; padding: 0 15px;}
  	#header nav ul li { width: 100%;position: relative; }
  	#header nav ul li a { display: block; float:none; padding: 10px 0;}
  	#header nav a {text-align: left; width: 100%;}
	#header nav a strong {position: absolute; top: 50%; transform: translateY(-50%); left: 15px;}
	#header nav a#pull {display: block; color: #fff; background-color: #000; height: 30px;padding: 10px 0; width: 100%; position: relative;}
	#header nav a#pull:after { content:""; background: url('../images/nav-icon.png') no-repeat; width: 20px; height: 20px; display: inline-block; position: absolute; right: 15px; top: 50%; transform: translateY(-50%);}

	.cta{background: #035B96  url("../images/common/phonecall.png") no-repeat center center;border-bottom-left-radius: 40px;border-top: 2px solid #013f9a ;border-top-left-radius: 40px;bottom: 1%;display: block;height: 80px;position: fixed;right: 0;text-decoration: none; text-indent: -9999em;width: 100px;z-index: 999;}
}*/
